.bigButton-100{
  width: 80%;
}
.option-sign{
  color: #403f3f;
  margin-top: 30px;
  p{
    color: #403f3f;
    margin-bottom: 10px;
  }
  ion-grid{
    width: 160px;
    margin: 0 auto;
    color: white;
    font-size: 25px;
  }
}

.app-title{
  text-align: center;
  color: #403f3f;
  font-size: x-large;
}
.form-content{
  background-color: #efefef;
    .scroll-content{
        margin-bottom: 0px !important;
        padding: 0px !important;
    }
    p{
        font-weight: normal !important;
        color: #403f3f;
    }
    a{
        text-decoration: underline;
        color: #403f3f;
    }
}

.Loginpage{
    min-height: 100%;
    display: flex;
    align-items: center;
    .formContainer{
        padding: 22px;
        width: 100%;
        //align-items: center;
      .cent-img{
        padding-top: 20px;
        margin: auto;
        display: block;
      }
    }
}

.app-form{
    .list-md{
        padding: 10px;
        margin-bottom: 40px;
        .item-md{
          background: none;
          //border-bottom: 1px solid rgba(color($colors , light) , .6) !important;
          border-bottom: 1px solid rgba(#403f3f , .6) !important;
        }
        ion-label{
          color: rgba(#403f3f , .6);
          font-size: 1.2rem;
        }
    }
    .text-input{
        color: #403f3f;
    }
    .label-md[floating]{

      color: rgba(#403f3f , .6);
    }
    .button-md{
      //font-size: 2.5rem;
      font-size: medium;
      //color: color($colors , light);
      color: color($colors , light);
      //background-color: color($colors , primary);
      background-color: #a4d4ea;
      font-weight: normal;
    }
}
