page-eqcheckuplist{
  body {
    cursor: url('https://ionicframework.com/img/finger.png'), auto;
  }

}

.checklist{
  margin-left: 17px;
  margin-right: 17px;
  font-size: 1.7rem;
  ion-list-header{
    padding-top: 21px;
    padding-bottom: 0px;
    h2{
      color: #000;
      font-size: large;
      width: 100%;
      font-weight: bold;
    }

  }



}

