<ion-header>

  <ion-navbar color="primary" hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-capitalize>러닝 맵</ion-title>
    <ion-buttons class="toggle-btn" end>
      <button ion-item icon-only no-padding no-lines>
        <ion-toggle  (ionChange)="toggleshowbtn()" [(ngModel)]="showbtn" checked="true"></ion-toggle>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <!--section of map and scroll list-->
  <div *ngIf="showbtn " #map id="map"></div>
  <div *ngIf="showbtn&&showslider" [ngClass]="{'activescroll': showbtn }" class="home-detail">
    <ion-scroll scrollX="true">
      <ion-card class="app-card" *ngFor="let item of grid" padding  [ngClass]="{'activeslide': currentdoctor==item.id }">
        <img (click)="goTo('Details')" src="{{item.img}}" />
        <div class="card-det">
          <h4 (click)="goTo('Details')" no-margin>kim chol hee</h4>
          <p (click)="goTo('Details')" no-margin>Under dogs</p>
          <ion-item (click)="goTo('Details')" no-padding no-lines>
            <ion-icon name="md-pin" mini item-start></ion-icon>
            서울특별시 중랑구 면목동 중랑천둔치
          </ion-item>
          <ion-grid no-padding>
            <ion-row>
              <ion-col col-6>
                <button (click)="SaveDoctor(item)" *ngIf="!item.save" ion-button block>저장하기</button>
                <button (click)="SaveDoctor(item)" *ngIf="item.save" ion-button block>저장됨</button>
              </ion-col>
              <ion-col col-3 (click)="like(item)">
                <ion-icon name="md-star" color="light" [ngClass]="{'activeLikeColor': item.activeLike }"></ion-icon>
              </ion-col>
              <ion-col col-3 (click)="presentshareModal()">
                <ion-icon name="md-share" color="light"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-card>
    </ion-scroll>
  </div>


  <!--section of list-->
  <ion-list *ngIf="!showbtn" [ngClass]="{'showList':!showbtn}" class="main-list">
    <ion-item class="list-item" *ngFor="let item of list" no-lines>
      <ion-avatar (click)="goTo('Details')" item-start>
        <img src="{{item.img}}">
      </ion-avatar>
      <div class="card-det">
        <h4 (click)="goTo('Details')" no-margin>난몰라</h4>
        <p (click)="goTo('Details')" no-margin>모라는기여</p>
        <ion-item no-padding no-lines>
          <ion-icon name="md-pin" mini text-left item-start></ion-icon>
          위치 안 밝힘
        </ion-item>
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-6>
              <button (click)="SaveDoctor2(item)" *ngIf="!item.save2" ion-button block>저장하기</button>
              <button (click)="SaveDoctor2(item)" *ngIf="item.save2" [ngClass]="{'saveColor':item.save2}" ion-button block>저장됨</button>
            </ion-col>
            <ion-col (click)="like2(item)" col-3>
              <ion-icon name="md-star" color="grayColor" [ngClass]="{'activeLikeColor': item.activeLike2 }"></ion-icon>
            </ion-col>
            <ion-col col-3>
              <ion-icon (click)="presentshareModal()" name="md-share" color="grayColor"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item>
  </ion-list>

</ion-content>
