
 // http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
.toolbar-title-md{
    font-weight: normal;
    color: #8e9093;
}
.fab-md{
    @include box-shadow(0,3px,6px,0,0.2);
}
.saveColor{
    background-color: darken(color($colors,secondary),4%) !important;
}

// App statusbar(IOS platform) Sass
// --------------------------------------------------
.statusbar-padding{
    padding-top: calc(20px + 4px);
    min-height: calc(56px + 20px);
    &.search-toolbar{
        top: 24px;
        padding-top: 4px;
        min-height: 45px;
    }
}

.md ion-menu{
    .menu-inner{
        ion-header{
            .toolbar.statusbar-padding{
                &:first-child{
                    min-height: 180px;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px){
    .md .modal-wrapper > .ion-page > ion-header > .share-toolbar.statusbar-padding:first-child{
        padding-top: 4px;
        min-height: 56px;
    }
}

// App Main Menu Sass
// --------------------------------------------------
ion-menu{
    ion-header{
        &::after{
            display: none;
        }
    }
    .toolbar-md{
        min-height: 160px;
        padding: 4px 15px;
        align-items: flex-end;
        img{
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
        h3{
        @extend %overflow;
        color: color($colors , light);
        }
        p{
            @extend %overflow;
            color: color($colors , light);
        }
    }
    .toolbar-background-md{
        @extend %cover;
        background-image: url(../assets/img/menu-head.png);
    }
    ion-list{
        padding: 10px 15px;
    }
    .item-md{
        background: none;
        font-size: 1.3rem;
        font-weight: 500;
        text-transform: uppercase;
        ion-icon{
            font-size: 2rem;
            min-height: 2rem;
            color: color($colors,primary);
        }
    }
    .item-inner{
        margin-left: 20px !important;
    }
    .social{
        border-top: 1px solid lighten(color($colors , grayColor),35%) !important;
        padding: 3px 0;
        margin-top: 10px;
      h3{
        font-size: 0.7rem;
      }
        .item-md{
            font-size: 1.0rem;
        }
        i{
            font-size: 0.7rem;
            min-height: 1.9rem;
            color: color($colors, primary);
            display: inline-block;
            &:before{
                width: 21px;
                height: 21px;
                line-height: 1.5em;
                margin: 0 3px 0 0;
                border-radius: 30%;
            }
        }
        .fb{
            &:before{
                background-color: color($colors,facebook,base);
            }
        }
        .tw{
            &:before{
                background-color: color($colors,twitter,base);
            }
        }
    }
    .log-out{
        .button-clear-md{
            color: white;
            font-size: 1.3rem;
            font-weight: normal;
            text-transform: uppercase;
        }
        [icon-right]{
            ion-icon{
                font-size: 2.2em;
            }
        }
    }
    .footer-md{
        padding-bottom: 10px;
        &::before{
            display: none;
        }
    }
}
