.detail-head{
    img{
        width: 100%;
        height: 160px;
        object-fit: cover;
        -o-object-fit: cover;
    }
}

.more-info{
    position: absolute;
    top: 130px;
    width: 100%;
    img{
        width: 110px;
        height: 110px;
        border-radius: 50%;
        position: absolute;
        left: 0;
        right: 0;
        top: -25px;
        margin: 0 auto;
        @include box-shadow(0,1px,2px,0,0.2);
    }
}

.add-btn{
    background-color: lighten(color($colors,primary),9%);
}

.detail{
    margin-top: 55px;
    h4{
        margin: 0 0 5px 0;
    }
    .det-info{
        margin: 0 0 20px 0;
        font-size: 1.2rem;
    }
    .phone{
        display: inline-block;
        white-space: nowrap;
        margin: 0 0 20px 0;
        ion-icon{
            width: 24px;
            height: 24px;
            border-radius: 50%;
            font-size: 1em;
            line-height: 1.85;
            color: color($colors,light);
            background-color: color($colors,primary);
        }
    }
}

.appointment-day{
    border-radius: 2px;
    background-color: color($colors,secondary);
    @include box-shadow(0,1px,2px,0,0.2);
    [col-5]{
        border-right: 1px solid color($colors,light);
    }
    .item-md{
        color: color($colors,light);
        background-color: transparent;
        padding-left: 10px;
        .item-inner{
            padding: 0;
        }
        .select-md{
            padding: 13px 0;
            max-width: 100%;
            width: 100%;
            font-size: 1.4rem;
            align-items: center;
            .select-icon{
                .select-icon-inner{
                    left: -10px;
                    margin-top: -1px;
                    color: color($colors,light);
                }
            }
        }
    }
    p{
        color: color($colors,light);
    }
}

.rate{
    margin: 10px 0;
    @include box-shadow(0,1px,5px,0,0.2);
    h4{
        font-size: 1.5rem;
    }
    .item-md{
        h2{
            font-size: 1.45rem;
            font-weight: 500;
            margin-bottom: 0 !important;
            @extend %overflow;
            span{
                font-size: 1.1rem;
                margin-left: 10px;
                display: inline-block;
                white-space: nowrap;
                color: lighten(color($colors,grayColor),10%);
            }
        }
        p{
            font-size: 1.2rem;
        }
    }
    .stars{
        margin-bottom: 3px;
    }
    .button-md{
        margin-bottom: 0;
        font-weight: normal;
    }
}