<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-capitalize>프로필상세</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="detail-head">
    <img src="assets/img/det-img.png" />
    <div class="more-info">
      <ion-fab left>
        <button (click)="saveDoctor()" class="add-btn" ion-fab>
          <ion-icon name="add" *ngIf="!save"></ion-icon>
          <ion-icon name="md-checkmark" *ngIf="save"></ion-icon>
        </button>
      </ion-fab>
      <img src="assets/img/img1.png" />
      <ion-fab right>
        <button (click)="presentMapModal()" color="secondary" ion-fab><ion-icon name="md-map"></ion-icon></button>
      </ion-fab>
    </div>
  </div>

  <div class="detail" text-center padding>
    <h4>박러너</h4>
    <p class="det-info">러닝크루지망자</p>
    <p class="det-info">무작정 달리는게 좋은 사람입니다.</p>
    <span class="phone">
      <ion-icon name="md-call"></ion-icon>
      010-111-1111
    </span>

    <div class="rate" padding text-left>
      <h4>쪽지</h4>
      <ion-item no-padding no-lines>
        <ion-avatar item-start>
          <img src="assets/img/user-img.png">
        </ion-avatar>
        <h2>나 <span>3 days ago</span></h2>
        <p>오늘 저녁 치맥 콜?</p>
      </ion-item>
      <button (click)="presentRateModal()" ion-button block text-capitalize color="primary">쪽지쓰기</button>
    </div>
  </div>

</ion-content>
